@using FormulaOneApp.Web.ViewModels;
@model QuestionViewModel

<h1>@Model.Text</h1>
@if (Model.Media.Length > 0)
{
    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Media)" alt="Question Image" />
}

<form>
    <button name="answer">@Model.AllAnswers[0]</button>
    <button name="answer">@Model.AllAnswers[1]</button>
    <button name="answer">@Model.AllAnswers[2]</button>
    <button name="answer">@Model.AllAnswers[3]</button>
</form>