@using FormulaOneApp.Web.ViewModels;
@model QuestionViewModel

<h1>@Model.Text</h1>
@if (Model.Media.Length > 0)
{
    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Media)" alt="Question Image" />
}

<form>
    <input type="radio" value="@Model.AllAnswers[0]" /> @Model.AllAnswers[0]
    <input type="radio" value="@Model.AllAnswers[1]" /> @Model.AllAnswers[1]
    <input type="radio" value="@Model.AllAnswers[2]" /> @Model.AllAnswers[2]
    <input type="radio" value="@Model.AllAnswers[3]" /> @Model.AllAnswers[3]
</form>